@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Luckiest+Guy&family=Rubik+Beastly&display=swap');


*{
  margin:0;
  font-family: Lobster;
  color: #333;
}
.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  font-family: Luckies;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 2px solid #f2f2f2;
}
.navbar h1{
  color: #d1356d;
  font-family: 'Bungee Shade', cursive;
}
.navbar .links{
  margin-left: auto;
  
}
.navbar a{
  margin-left: 17px;
  text-decoration: none;
  padding: 6px;
  color: #ee0968;
  
   font-family: 'Bungee Shade', cursive;
  box-shadow: 1px 2px 3px rgba(231, 18, 18, 0.1);
}
.navbar a:hover{
  color: rgb(14, 13, 13);
}
.content{
  max-width: 600px;
  margin:40px auto;
  padding: 20px;
}



.blog-preview{
  padding: 10px 17px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(211, 10, 10, 0.1);
}
.blog-preview h3{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration:none;
}

.blog-details h2{
  font-size: 20px;
  color:#d1356d;
  margin-bottom: 10px;
}
.blog-details div{
  margin: 20px 0;
}
.blog-details button{
  background: #d1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  
  
}
.bt1{
  margin-right: 16px;
}

.create{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label{
  text-align: left;
  display: block;
}
.create h2{
  font-size: 20px;
  color: #d1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  outline-width: 0;
  display: block;
  text-transform: capitalize;
}
.create button{
  background: #d1356d;
  color: rgb(235, 241, 236);
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px;
  font-family: 'Bungee Shade', cursive;
}
.create button:hover{
 color: rgb(32, 8, 250);
 
}


.back a{
  padding: 10px;
   text-decoration: none;
  color: #f0ecee;
  font-family: 'Bungee Shade', cursive;
  vertical-align: baseline;
}
.back {
  padding: 10px;
  margin-top: 40px;
  background:  blue;
   font-size:25px;
   text-align: center;
   
}



.login {
  align-items: center;
  text-align: center;
  width: 400px;
  background: #fff;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding: 1rem;
  
}

.login > input {
  border-radius: 8px;
  border: 2px solid #dddfe2;
  outline: none;
  color: #1d2129;
  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  width: 92%;
  font-size: 1rem;
  
  
}

.login > .button {
  background: #1877f2;
  border: 1px solid #1877f2;
  color: #fff;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  
}
.login h1{
  color:#1877f2;
}
.register h1{
  color: #1877f2;
}

.register {
  width: 400px;
  background: #fff;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding: 1rem;
  align-items: center;
  text-align: center;
}

.register > input {
  border-radius: 8px;
  border: 2px solid #dddfe2;
  outline: none;
  color: #1d2129;
  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  width: 92%;
  font-size: 1rem;
}

.register > .button {
  background: #1877f2;
  border: 1px solid #1877f2;
  color: #fff;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

 .home > .button {
  background: #d1356d;
  border: 1px solid #1877f2;
  color: #fff;
  font-size: 1.25rem;
  padding: 0.3rem;
  
  border-radius: 8px;
  outline: none;
  width: 90px;
  cursor: pointer;
  float: right;
  text-align: center;
  
}

.clock h1{
  position: fixed;
width: 50px;
margin-left: 50px;
text-align: center;
font-size: 20px;
font-family: 'Bungee Shade', cursive;
color: blueviolet;
}

.scrollTop {
  position: fixed; 
  width: 100%;
  bottom: 20px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover{
  opacity: 1;
}




